@model IEnumerable<Gestion_personne_arpilabe.personne>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-responsive-md display" id="table_id">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDeNaissance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateDeNaissance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new {@class="btn btn-primary"}) 
                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

@section Scripts{
    <script>
	$(document).ready( function () {
	    $('#table_id').DataTable();
	} );
    </script>

}
